/* Start global Rules */
:root {
  --main-color: #ffe600;
  --side-color: #707070;
  --section-padding: 80px 0;
  --over-lay: rgba(0, 0, 0, 0.7);
  --normal-motion: 400ms;
  --fast-motion: 250ms;
}
html {
  scroll-behavior: smooth;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1.5;
}
body {
  font-family: "Open sans", sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Start container */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End container */
/* Start  component */

/* start main heading */
.main-heading {
  margin-bottom: 50px;
  text-align: center;
}
.main-heading h2 {
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 20px 15px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: var(--main-color);
}
.main-heading p:first-child {
  color: var(--side-color);
  text-transform: uppercase;
  font-size: 16px;
}
.main-heading p:last-child {
  color: var(--side-color);
  font-size: 1.15em;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}
/* End Main heading */

/* Start Side heading */
.side-heading {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  position: relative;
}
.side-heading h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.side-heading p {
  line-height: 1.5;
  font-size: 1.1em;
}
/* End Side heading */
/* start special button */
.special-button {
  border: none;
  background-color: var(--main-color);
  border-radius: 0;
  outline: 4px solid var(--main-color);
  transition: var(--normal-motion) ease-out;
  outline-offset: -5px;
}
.special-button:hover {
  outline-offset: 5px;
}
/* end special button */
/* End component */
/* End global Rules */
/*Start heading */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  user-select: none;
  background-color: var(--over-lay);
  transition: var(--normal-motion);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  transition: var(--normal-motion);
}
header .container.shrink {
  height: 30px;
}
header .container > a img {
  height: 40px;
  max-width: 100%;
}
header .links-container {
  list-style: none;
  flex-grow: 1;
  text-align: end;
}

header .links-container.show {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--over-lay);
  width: 100%;
  text-align: start;
  margin-bottom: 30px;
  padding-left: 30px;
}
header .links-container.show .header-links a {
  padding: 15px 0;
}
header .links-container.show .header-links {
  display: block;
}
header .header-links {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}
header .header-links a {
  text-decoration: none;
  color: white;
  display: block;
}
@media (max-width: 767px) {
  header .links-container {
    display: none;
  }
}
header .header-links.active a,
header .header-links a:hover {
  color: var(--main-color);
}
header .header-links.active::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: -15px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
header .burger-shape {
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}
header .burger-shape p {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 100%;
  left: 0;
}
@media (min-width: 768px) {
  header .burger-shape {
    display: none;
  }
}
header .burger-shape span {
  width: 100%;
  height: calc(100% / 5);
  display: block;
  background-color: white;
}
/*End heading */
/* start Landing page */
.landing {
  padding-bottom: 100px;
  padding-top: 120px;
  background-image: url(../images/landing-bg.jpg);
  background-size: cover;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.landing .container {
  width: 100%;
  background-color: var(--over-lay);
  padding: 50px 15px;
  text-align: center;
  color: white;
  position: relative;
}
.landing .content {
  min-height: 200px;
}
.landing .content [data-head-quote] {
  max-width: 800px;
  margin: 0 auto 50px;
  padding: 0 45px;
  overflow: hidden;
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 1.4;
}
@media (max-width: 700px) {
  .landing .content [data-head-quote] {
    font-size: 2.3rem;
    padding: 0;
  }
  .landing .content {
    min-height: 150px;
  }
}
.landing .content [data-copy-quote] {
  border: none;
  background-color: var(--main-color);
  width: 90px;
  height: 40px;
  padding: 7px 15px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  font-weight: 400;
  transform: translateX(-50%);
  user-select: none;
  overflow: hidden;
}
.landing .content [data-copy-quote] > span {
  transition: var(--normal-motion);
  font-size: 1.1rem;
  color: #222;
  width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  --translate-x: -50%;
  transform: translate(var(--translate-x), -50%);
}
.landing [data-copy-quote] :first-child.hide {
  --translate-x: -115px;
}
.landing [data-copy-quote] :last-child {
  font-weight: bold;
}
.landing [data-copy-quote] :last-child.hide {
  --translate-x: 115px;
}

.landing .content > i {
  --distance: 30px;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  cursor: pointer;
}
.landing .container:hover .content > i {
  display: block;
}
.landing .content [data-next-quote] {
  right: var(--distance);
}
.landing .content [data-previous-quote] {
  left: var(--distance);
}
@media (max-width: 411px) {
  .landing .content > i {
    --distance: 15px;
    font-size: 25px;
  }
}
.landing .scrool-shape {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  overflow: hidden;
}
.landing .scrool-shape i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: var(--normal-motion) ease-out;
}
.landing .scrool-shape i:first-child {
  top: -40px;
}
.landing .scrool-shape:hover i:first-child {
  top: 80px;
}
.landing .scrool-shape:hover i:nth-child(2) {
  top: 80px;
}
.landing .scrool-shape i:last-child {
  top: -90px;
}
.landing .scrool-shape:hover i:last-child {
  top: 50%;
}
/* End Landing page */
/* start Services */
.services {
  padding: var(--section-padding);
}
.services .boxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.services .boxes-container .box {
  text-align: center;
}
.services .boxes-container .box > i {
  font-size: 50px;
  background-color: var(--main-color);
  padding: 25px;
  border-radius: 50%;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 1px mediumvioletred;
}
.services .boxes-container .box .text h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.services .boxes-container .box .text p {
  font-size: 1.15em;
  max-width: 201px;
  margin: 0 auto;
  color: var(--side-color);
}
/* End Services */
/* start How works */

.how-works {
  background-color: purple;
  background-image: url(../images/how-works-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 80px;
  --over-lay: rgba(0 0 0 / 0.5);
}
@media (max-width: 411px) {
  .how-works {
    background-image: url(../images/how-works-bg-mob.jpg);
  }
}
.how-works::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--over-lay);
}
.how-works .container {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.how-works .content-container {
  position: relative;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.how-works .content-container .step {
  flex-basis: 100%;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .how-works .content-container .step {
    flex-basis: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media (min-width: 991px) {
  .how-works .content-container .step {
    flex-basis: calc(33.333% - 20px);
  }
}
@media (min-width: 1200px) {
  .how-works .content-container .step {
    margin-right: 20px;
    flex-basis: calc(16.666% - 20px);
  }
}
.how-works .content-container .step i {
  font-size: 40px;
  color: var(--main-color);
}
.how-works .content-container .step i:nth-child(2) {
  transform: rotateY(-180deg);
}
.how-works .content-container .step .text h4 {
  text-transform: uppercase;
  margin: 20px 0 10px;
}
@media (min-width: 767px) {
  .how-works .content-container .step .text p {
    max-width: 400px;
    margin: 0 auto;
  }
}
/* End How works */
/* Start portfolio */
.portfolio {
  padding: var(--section-padding);
}
.portfolio .catagories {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  text-align: center;
  padding-bottom: 15px;
  list-style: none;
}
.portfolio .catagories li {
  transition: var(--normal-motion);
  min-width: fit-content;
  font-weight: 400;
  background-color: transparent;
  margin-right: 25px;
  color: var(--side-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
}
.portfolio .catagories li.active {
  background-color: rgba(00, 00, 00, 0.7);
  font-weight: 500;
  color: var(--main-color);
}
.portfolio .catagories li:hover {
  color: var(--main-color);
}
@media (min-width: 767px) {
  .portfolio .catagories {
    justify-content: center;
    overflow: auto;
  }
}

.portfolio .catagories li .title {
  text-decoration: none;
  text-transform: uppercase;
}
.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 411px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: calc(100% / 3);
  }
}
@media (min-width: 992px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}
@media (min-width: 1200px) {
  .portfolio .images-container .box {
    flex-basis: calc(100% / 6);
  }
}
.portfolio .images-container .box .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition-duration: var(--normal-motion);
  transform: scale(1.8);
  opacity: 0;
}
.portfolio .images-container .box:hover .text {
  transform: scale(1);
  opacity: 1;
}
.portfolio .images-container .box .text h3 {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
  padding: 0 5px 20px;
}
.portfolio .images-container .box .text h3::before {
  content: "";
  width: 150px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio-contact {
  padding: 40px 15px 0;
  text-align: center;
  line-height: 1.5;
}
.portfolio-contact h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 25px;
}
.portfolio-contact p {
  color: var(--side-color);
  margin-bottom: 20px;
}
.portfolio-contact a {
  padding: 12px 20px;
  text-transform: capitalize;
  font-size: 18px;
  display: block;
}
/* End portfolio */
/* start achivments */
.achivment {
  background-image: url(../images/achivment-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: var(--section-padding);
  padding-bottom: 100px;
  position: relative;
  color: white;
}
.achivment::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.achivment .container {
  position: relative;
}
.achivment .container .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .achivment .container .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .achivment .container .content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.achivment .container .content .box {
  padding: 30px;
  border: 1px solid var(--main-color);
  text-align: center;
}
.achivment .container .content .box h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.achivment .container .content .box p {
  color: var(--main-color);
  text-transform: uppercase;
}
/* end achivments */
/* start about us */
.about {
  padding: var(--section-padding);
}
.about .container .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .container .content .box {
  display: flex;
  margin-bottom: 30px;
}
@media (min-width: 991px) {
  .about .container .content .box {
    flex-basis: calc(50% - 30px);
  }
}
.about .container .content .box i {
  background-color: var(--main-color);
  height: fit-content;
  padding: 15px;
  border-radius: 50%;
  margin-right: 20px;
  color: white;
  font-size: 25px;
}
.about .container .content .box:first-child i {
  font-weight: normal;
}
.about .container .content .box .text h5 {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.about .container .content .box .text p {
  color: var(--side-color);
}
.team {
  padding: 30px 0 0;
}
.team .team-heading {
  color: black;
}
.team .team-heading h3 {
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0;
}
.team .team-heading p {
  color: var(--side-color);
}
.team .team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team .team-members .member {
  text-align: center;
  margin-bottom: 50px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .team .team-members .member {
    flex-basis: calc(50% - 10px);
  }
}
@media (min-width: 992px) {
  .team .team-members .member {
    flex-basis: calc(25% - 10px);
  }
}
.team .team-members .member img {
  height: 200px;
  border-radius: 5px;
  max-width: 100%;
}
.team .team-members .member .text {
  text-transform: uppercase;
  color: var(--side-color);
  border-bottom: 2px solid var(--side-color);
  padding-bottom: 5px;
}
.team .team-members .member .text h4 {
  color: var(--main-color);
  margin-bottom: 5px;
  font-size: 20px;
}
/* End about us */
/* start skills */
.skills {
  position: relative;
  background-image: url(../images/skills-bg.jpg);
  background-size: cover;
  padding: var(--section-padding);
  height: fit-content;
}
.skills::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--over-lay);
}
.skills .content {
  position: relative;
  color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
@media (max-width: 767px) {
  .skills .content {
    grid-template-columns: 1fr;
  }
}
.skills .shape {
  border-radius: 14px;
  position: relative;
}
.skills .shape span {
  display: block;
  width: 100%;
  height: 24px;
  background-color: #bbb;
  border-radius: inherit;
  opacity: 0.3;
}
.skills .shape::before {
  content: "";
  width: calc(var(--percent) * 1%);
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  border-radius: inherit;
  top: 0;
}
.skills .shape::after {
  color: white;
  text-shadow: 1px 0 gray;
  content: attr(data-skill-progress);
  position: absolute;
  left: calc(var(--percent) * 1%);
  top: 100%;
  padding-left: 2px;
  transform: translate(-100%);
}
.skills .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills .skill .title {
  font-size: 1.3rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-left: 10px;
}

/* end skills */
/* start clients */
.clients {
  padding: var(--section-padding);
}
.clients .content {
  --main-width: 475px;
  width: var(--main-width);
  position: relative;
  overflow: hidden;
  max-width: 475px;
  min-height: 80px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .clients .content {
    --main-width: 350px;
  }
}
.clients ul {
  width: 475px;
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: move-logos 5s linear infinite alternate;
}
.clients ul li {
  margin-right: 20px;
}
@keyframes move-logos {
  to {
    left: calc((475px - var(--main-width)) * -1);
  }
}
.clients ul li a img {
  height: 40px;
}
/* end clients */
/* start quote */
.quote {
  background-image: url(../images/quote-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: var(--section-padding);
}
.quote::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--over-lay);
}
.quote .container .dotes {
  cursor: default;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.quote .container .dotes span {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}
.quotes {
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

.quotes::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 2px;
  background-color: var(--main-color);
}
.quote .container .dotes span:hover {
  background-color: var(--main-color);
}
.quote .container .quotes q::before,
.quote .container .quotes q::after {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
  color: gray;
}
/* end quote */
/* start contact */
.contact {
  padding: var(--section-padding);
}
.contact .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px 20px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .contact .content {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}
.contact .content .box > i {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 15px;
}
.contact .content .box .text h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}
.contact .content .box .text address {
  color: var(--side-color);
}
/* end contact */
/* start message */
.message {
  padding: var(--section-padding);
  background-image: url(../images/message-bg.jpg);
  background-size: cover;
  position: relative;
}
.message::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--over-lay);
}
.message form {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.message form input:not(input[type="submit"]),
.message form textarea {
  background: transparent;
  border: 1px solid white;
  color: white;
  width: 100%;
  height: 50px;
  padding: 20px;
  margin: 20px 0;
}
.message form input:not(input[type="submit"])::placeholder,
.message form textarea::placeholder {
  color: var(--side-color);
}
@media (min-width: 992px) {
  .message form input:not(input[type="submit"]) {
    width: calc(33.333% - 20px);
    margin: 19px 10px;
  }
}
.message form textarea {
  height: 250px;
}
.message form input[type="submit"] {
  margin: 30px auto 0;
  padding: 10px 20px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}
/* end message */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 15px;
}
footer > p a {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}
footer .social {
  margin-top: 20px;
}
footer .social i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  cursor: pointer;
}
footer .social i:hover {
  background-color: purple;
}
footer .social i:first-of-type:hover {
  background-color: #4267b2;
}
footer .social i:nth-of-type(2):hover {
  background-color: #1da1f2;
}
footer .social i:last-of-type:hover {
  background-color: red;
}
footer > a {
  margin-top: 10px;
  text-align: center;
  padding: 25px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 25px;
  border: none;
  background-color: var(--main-color);
  position: relative;
  overflow: hidden;
}

footer > a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--fast-motion) linear;
}
footer .heart {
  color: #c0392b;
  font-size: 1.3rem;
}
footer > a i.second {
  top: 60px;
}
footer > a i.third {
  top: 100px;
}
footer > a i.fourth {
  top: 140px;
}
footer > a:hover i {
  top: -40px;
}
footer > a:hover i.fourth {
  top: 50%;
}
